/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";

@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --background-color-canvas: hsl(0, 0%, 5%);

  --color-primary: hsl(0, 0%, 85%);
  --color-secondary: hsl(0, 0%, 60%);
  --color-tertiary: hsl(0, 0%, 30%);

  --border-color-tertiary: hsl(0, 0%, 20%);
}

:root {
  --background-color-canvas: hsl(0, 0%, 95%);

  --color-primary: hsl(0, 0%, 15%);
  --color-secondary: hsl(0, 0%, 30%);
  --color-tertiary: hsl(0, 0%, 60%);

  --border-color-tertiary: hsl(0, 0%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-canvas: hsl(0, 0%, 5%);

    --color-primary: hsl(0, 0%, 85%);
    --color-secondary: hsl(0, 0%, 60%);
    --color-tertiary: hsl(0, 0%, 30%);

    --border-color-tertiary: hsl(0, 0%, 20%);
  }
}

@layer base {
  /* Remove Safari input shadow on mobile */
  input[type="text"],
  input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  body {
    @apply max-w-xl mx-auto py-5 md:py-10 font-extralight text-primary bg-canvas;
  }

  a {
    text-decoration: underline;
  }
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--color-primary);
    --tw-prose-headings: var(--color-primary);
    --tw-prose-links: var(--color-primary);
    --tw-prose-code: var(--color-primary);
    --tw-prose-kbd: var(--color-primary);
    --tw-prose-bold: var(--color-primary);
    --tw-prose-quotes: var(--color-primary);
  }

  @media (prefers-color-scheme: dark) {
    .prose {
      --tw-prose-body: var(--color-primary);
      --tw-prose-headings: var(--color-primary);
      --tw-prose-links: var(--color-primary);
      --tw-prose-code: var(--color-primary);
      --tw-prose-kbd: var(--color-primary);
      --tw-prose-bold: var(--color-primary);
      --tw-prose-quotes: var(--color-primary);
    }
  }
}
