---
import Stack from "../../layouts/Stack.astro";

const WORK_EXPERIENCE_CONTENT: {
  title: string;
  company: string;
  date: string;
}[] = [
  {
    title: "Senior Frontend Engineer",
    company: "Full Creative",
    date: "2023 - Present",
  },
  {
    title: "Frontend Engineer",
    company: "AnywhereWorks",
    date: "2020 - 2023",
  },
  {
    title: "Web Developer",
    company: "Setmore",
    date: "2018 - 2020",
  },
];
---

<Stack class="gap-4">
  {
    WORK_EXPERIENCE_CONTENT.map(({ title, company, date }) => (
      <div
        class="
          border border-tertiary p-4 rounded-2xl flex flex-col
          gap-y-3 sm: sm:flex-row sm:items-center sm:justify-between
          bg-gradient-to-b from-transparent to-teal-900/5 hover:to-teal-900/20
          transition-colors duration-500
          "
      >
        <div>
          <h3 class="text-lg">{title}</h3>
          <p class="text-secondary">{company}</p>
        </div>
        <p class="text-secondary text-sm">{date}</p>
      </div>
    ))
  }
</Stack>
