---
import ButtonLink from "./ButtonLink.astro";
import { ThemeSwitcher } from "./ThemeSwitcher";
import { Icon } from "astro-icon/components";

const today = new Date();

const socialLinks = [
  {
    name: "GitHub",
    href: "https://github.com/thanix-k",
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/thanigai-breathes-tech/",
  },
  {
    name: "Twitter",
    href: "https://twitter.com/thanigai",
  },
];
---

<section>
  <h2 class="text-3xl font-medium mb-4 text-primary">Connect</h2>
  <div>
    <article class="space-y-4">
      <p>
        Feel free to contact me at <a href="mailto:inbox.thanigai@gmail.com"
          >inbox.thanigai@gmail.com</a
        >
      </p>
      <nav class="flex gap-4">
        {
          socialLinks.map(({ name, href }) => {
            return (
              <ButtonLink href={href} class="gap-0.5">
                <span>{name}</span>
                <Icon
                  name="mdi:arrow-top-right"
                  class="group-hover:-translate-y-[1px] group-hover:translate-x-1 transition"
                />
              </ButtonLink>
            );
          })
        }
      </nav>
    </article>
  </div>
</section>
