---
import { ThemeSwitcher } from "./ThemeSwitcher";

const today = new Date();
---

<section class="pt-10 border-t border-tertiary">
  <h2 class="text-xl font-medium mb-4">Connect</h2>
  <div>
    <article class="space-y-4">
      <p>
        Feel free to contact me at <a href="mailto:inbox.thanigai@gmail.com"
          >inbox.thanigai@gmail.com</a
        >
      </p>
      <nav class="flex gap-4">
        <a href="https://github.com/thanigai" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/thanigai" target="_blank">LinkedIn</a>
        <a href="https://twitter.com/thanigai" target="_blank">Twitter</a>
      </nav>
    </article>
  </div>
</section>
<ThemeSwitcher client:load />
