---
import HeaderLink from "./HeaderLink.astro";

export const navItems = {
  "/blog": { name: "Blog" },
  "/projects": { name: "Projects" },
  "/about": { name: "About" },
};
---

<header class="mb-10">
  <nav>
    <aside
      class="flex items-center justify-between flex-col sm:flex-row gap-y-2 sm:gap-y-0"
    >
      <a href="/" class="text-3xl font-bold"> Thanigai </a>
      <nav class="flex gap-3 flex-wrap">
        {
          Object.entries(navItems).map(([path, { name }]) => {
            return <HeaderLink href={path}>{name}</HeaderLink>;
          })
        }
      </nav>
    </aside>
  </nav>
</header>
